img{
    width: 300px;
}
/* Remove above */
:root{    
    --background-color: #fff;
    --foreground-color: #333;
    --accent-color: #00bbff;

    --nav-height: 50px;
    --dropdown-width: 110px;
    --dropdown-radius: 8px;
}

*{
    font-family: 'Raleway', sans-serif;
    line-height: 1.6em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    background-color: var(--background-color);
}

a{
    text-decoration: none;
    display: block;
}

ul{
    list-style: none;
}


html{
    width: 80%;
    margin: 0 auto;
}

/* NAVBAR */

nav > ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-height);
    display: grid;
    grid-template-columns: auto 1fr var(--dropdown-width) var(--dropdown-width) var(--dropdown-width);
    grid-gap: 1em;
    align-items: end;
    padding: 0 2em;
    background-color: var(--foreground-color);
    color: var(--background-color);
}
nav a{
    color: var(--background-color);
}

.logo{
    color: var(--accent-color);
    align-self: center;
}

.dropdown{
    text-align: center;
}

.label{
    background-color: var(--background-color);
    color: var(--foreground-color);
    padding: 5px;
    border-bottom: 1px solid var(--foreground-color);
}
.content{
    display: none;
    position: absolute;
    top: var(--nav-height);
}


.choice{
    text-align: center;
    background-color: var(--background-color);
    width: var(--dropdown-width);
    padding: 6px 0;
    --nav-link-font-color: var(--foreground-color);
    border: 2px solid var(--foreground-color);
    color: var(--foreground-color);
}

.choice:hover{
    transform: scale(1.1);
    color: var(--accent-color);
    background-color: var(--foreground-color);
    --nav-link-font-color: var(--accent-color);
    border: 2px solid #333;
}

.choice > a{
    color: var(--nav-link-font-color);
}

.bottom{
    border-bottom-left-radius: var(--dropdown-radius);
    border-bottom-right-radius: var(--dropdown-radius);

}

/* MAIN */
header{
    margin-top: var(--nav-height);
}


