img{
    width: 300px;
}
/* Remove above */
:root{    
    --background-color: #fff;
    --foreground-color: #333;
    --accent-color: #00bbff;

    --nav-height: 50px;
    --dropdown-width: 110px;
}

*{
    font-family: 'Raleway', sans-serif;
    line-height: 1.6em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    background-color: var(--background-color);
}

a{
    text-decoration: none;
    display: block;
}

ul{
    list-style: none;
}


html{
    width: 80%;
    margin: 0 auto;
}

/* NAVBAR */

nav > ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-height);
    display: grid;
    grid-template-columns: auto 1fr var(--dropdown-width) var(--dropdown-width) var(--dropdown-width);
    align-items: center;
    padding: 0 2em;
    background-color: var(--foreground-color);
    color: var(--background-color);
}
nav a{
    color: var(--background-color);
}

.logo{
    color: var(--accent-color);
}

.dropdown{
    text-align: center;
    
}

.label{
    line-height: var(--nav-height);
    
}
.content{
    display: none;
    position: absolute;
}


.choice{
    text-align: center;
    background-color: var(--accent-color);
    width: var(--dropdown-width);
}

.choice:hover{
    transform: scale(1.1);
}

.bottom{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

/* MAIN */
header{
    margin-top: var(--nav-height);
}


