:root{    
    --background-color: #fff;
    --foreground-color: #2a2f32;
    --accent-color: #00bbff;

    --nav-height: 8vh;
    --dropdown-width: 125px;
    --dropdown-radius: 4px;
}

*{
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.6em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;  
}

html{
    scroll-behavior: smooth;
    background-color: var(--background-color);
    background-color: var(--background-color);
    overflow: hidden;
}

body{
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: mandatory;
    height: 92vh;
    margin-top: var(--nav-height);
}

h1, nav h2, nav h4{
    font-family: 'Comfortaa', cursive;
}

a{
    text-decoration: none;
    display: block;
}

ul{
    list-style: none;
}

article h1, article h2, article p{
    text-align: left;
}

/**************** NAVBAR ****************/
nav{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto 20px auto;
    padding: 0 50px;
    background-color: var(--foreground-color);
    box-shadow: 0px 3px 10px 6px #333;
    width: 100%;
}

nav > ul{    
    height: var(--nav-height);
    display: grid;
    grid-template-columns: auto var(--dropdown-width) var(--dropdown-width) var(--dropdown-width);
    grid-gap: 20px;
    align-items: center;
    color: var(--background-color);
}

nav a{
    color: var(--background-color);
}

#nav-hide{
    display: none;
}

#logo{
    color: var(--accent-color);
    align-self: center;
    justify-self: start;
}

.dropdown{
    align-self: end;
}

.alt-dropdown{
    display: none;
}

.label{
    background-color: var(--background-color);
    color: var(--foreground-color);
    border-top-left-radius: var(--dropdown-radius);
    border-top-right-radius: var(--dropdown-radius);
    border: 2px solid var(--foreground-color);
}

.content{
    display: none;
    position: absolute;
    top: var(--nav-height);
    width: var(--dropdown-width);
}

.choice{
    background-color: var(--background-color);
    --nav-link-font-color: var(--foreground-color);
    border: 2px solid var(--foreground-color);
    color: var(--foreground-color);
}

.choice:hover{
    transform: scale(1.1);
    color: var(--accent-color);
    background-color: var(--foreground-color);
    --nav-link-font-color: var(--accent-color);
    border: 2px solid #333;
    box-shadow: 0 0px 2px 1px #fff;
}

.choice a{
    color: var(--nav-link-font-color);
}

.choice:last-of-type{
    border-bottom-left-radius: var(--dropdown-radius);
    border-bottom-right-radius: var(--dropdown-radius);
}


/**************** MAIN ****************/



section {
    scroll-snap-align: start;
    min-height: 92vh;
    max-width: 1200px;
    margin: 0 auto var(--nav-height) auto;
}

/**************** HOME ****************/

#home{
    display: grid;
    justify-content: center;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    font-size: 28px;
    color: var(--background-color);
    
}

#home div, #home h1, #home h2{
    background-color: var(--foreground-color);
    border-radius: 8px;
}

#home h1{
    font-size: 50px;
    color: var(--accent-color);
    background-color: var(--foreground-color);
    border-radius: 8px;
}

#tech-stack span{
    font-weight: bold;
    margin: 0;   
}

.devicon-visualstudio-plain{
    color: #B906E8;
}

.devicon-csharp-plain, .devicon-dot-net-plain, .devicon-html5-plain{
    color: #00bbff;
}

.devicon-javascript-plain{
    color: yellow;
}

.devicon-css3-plain{
    color: red;
}

.devicon-html5-plain{
    color: #00bbff;
}

.devicon-git-plain{
    color: white;
}

/**************** ABOUT ME ****************/

#aboutMe{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "pic text" 
                         "pic text";
    align-items: center;
    padding: 10px 20px;
    
}

#headShot{
    grid-area: pic;
    max-width: 430px;
    border-radius: 20px;
    box-shadow: 0px 3px 20px 10px var(--foreground-color);
}

#aboutMe article{
    grid-area: text;
    color: var(--foreground-color);
    font-size: 1.3em;
    width: 100%;
    
}

#aboutMe h1{
    font-size: 3em;   
}

.quote{
    margin-top: 8vh;
    background-color: rgba(42, 47, 50, 0.7);
    padding: 1em;
    border-radius: 15px;
    color: var(--background-color);
    
}

/**************** MY PROJECTS ****************/

#myProjects{
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "leftArrow project rightArrow"
                         "leftArrow project rightArrow";
    align-items: center;
    justify-content: center;
    grid-gap: 2vw;
    padding-left: 20px;
    padding-right: 20px;
}

#left-arrow, #right-arrow{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    font-size: 3em;
    width: 80px;
    height: 80px;
    border: 3px solid var(--foreground-color);
    border-radius: 50%;
}

#left-arrow:hover, #right-arrow:hover{
    background-color: var(--foreground-color);
    color: var(--accent-color);
}

#left-arrow{
    grid-area: leftArrow;
}

#right-arrow{
    grid-area: rightArrow;
}

.project{
    display:none;
    box-sizing: content-box;
}

.project:nth-of-type(2){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "";
    margin-left: 10px;
    margin-right: 10px;
    grid-area: project;
}

#myProjects img{
    width: 100%;
}

.project article{
    padding: 1em 2em;
}

/**************** CONTACT ME ****************/

#contactMe{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: space-around;
}

.contact{
    display: grid;
    grid-template-columns: 40vw 40vw;
    align-items: center;
}


#contact-middle{
    border-top: 4px solid var(--foreground-color);
    border-bottom: 4px solid var(--foreground-color);
}