@media screen and (max-width: 950px){
    body{
        -webkit-scroll-snap-type: none;
            -ms-scroll-snap-type: none;
                scroll-snap-type: none;
    }

    #aboutMe{
            grid-template-areas: "pic pic"
                             "text text";
    }

    #headShot{
        -ms-grid-column-align: center;
            justify-self: center;
    }

    #aboutMe article{
        max-width: 520px;
        -ms-grid-column-align: center;
            justify-self: center;
    }

    #aboutMe h1{
        text-align: center;
    }

    #myProjects{
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
            grid-template-areas: "b b"
                             "a c";
        justify-items: center;
    }

    .project:nth-of-type(2){
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
            grid-template-areas: "d"
                             "e";
    }

    #myProjects img{
        -ms-grid-column-align: center;
            justify-self: center;
    }
    
    .project article{
        -ms-grid-column-align: center;
            justify-self: center;
    }

    .project article h2{
        text-align: center;
    }
}

@media screen and (max-width: 740px){
    nav{
        padding: 0;
    }
    nav > ul{    
        -ms-grid-columns: 1fr;    
        grid-template-columns: 1fr;
        
    }

    
    .dropdown{
        display: none;
    }

    .alt-dropdown{
        display: block;
        -ms-grid-column-align: center;
            justify-self: center;
        width: 60vw;
        min-width: 200px;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        
    }

    .fa-bars{
        padding: 5px 0 0 5px;
        float: left;
    }

    .label{
        color: var(--accent-color);
        background-color: var(--foreground-color);
        border: 3px solid var(--accent-color);
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }

    .content{
        display: none;
        top: 38px;
        width: 60vw;
        min-width: 200px;        
    }

    .choice{
        background-color: var(--foreground-color);
        --nav-link-font-color: var(--accent-color);
        border: 2px solid var(--accent-color);
        color: var(--accent-color);
        
    }

    .choice:hover{
        color: var(--background-color);
        --nav-link-font-color: var(--background-color);
    }

    .choice h4{
        height: 50px;
        display: -ms-grid;
        display: grid;
        -ms-flex-line-pack: center;
            align-content: center;
    }
    #logo{
        display: none;
        
    }
}

@media screen and (max-width: 660px){
    #home{
        font-size: 16px;
        --devicon-font-size: 30px;
    }

    #home h1{
        font-size: 28px;
    }

    #home span{
        display: none;
    }

    #home i{
        margin: 0 5px;
    }

    #tech-stack{
        padding: 5px 2px;
    }

    .devicon-visualstudio-plain{
        font-size: var(--devicon-font-size);
    }
    
    .devicon-csharp-plain, .devicon-dot-net-plain, .devicon-html5-plain{
        font-size: var(--devicon-font-size);
    }
    
    .devicon-javascript-plain{
        font-size: var(--devicon-font-size);
    }
    
    .devicon-css3-plain{
        font-size: var(--devicon-font-size);
    }
    
    .devicon-html5-plain{
        font-size: var(--devicon-font-size);
    }
    
    .devicon-git-plain{
        font-size: var(--devicon-font-size);
    }

    .new-line{
        display: block;
    }

    .project h2{
        font-size: 28px;
        text-decoration: underline;
    } 
}

@media screen and (max-width: 500px){
    #headShot{
        max-width: 500px;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    
    
}


